.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pulsing {
  animation: pulse infinite 5s linear;
  text-shadow: 0 0 5px rgba(255, 255, 255, .8);
}

@keyframes pulse {
  0% {
    transform: scale(.95);
    text-shadow: 0 0 2px rgba(255, 255, 255, .2);
  }
  50% {
    transform: scale(1);
    text-shadow: 0 0 10px rgba(255, 255, 255, .8);
  }
  100% {
    transform: scale(.95);
    text-shadow: 0 0 2px rgba(255, 255, 255, .2);
  }
}