.button {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: '30px';
    border-radius: '5px';
    box-shadow: 0 0 1px white;
    border: unset;
}