.imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 256px;
    border-radius: 2px;
    padding: 12px;
    background-color: var(--off-white);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: 600;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .8);
    box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, .6);
    margin: 10px;
}

.image {
    width: 256px;
    height: 256px;
    background-color: grey;
}

.label {
    margin-top: 8px;
}

.slide {
    animation: slideDown 2s linear;
}

.fade {
    animation: fadeIn 5s ease-in;
}

@keyframes slideDown {
    from {
        transform: translateY(calc(-100vh));
    }

    to {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        filter: contrast(0%);
    }
    100% {
        filter: contrast(100%);
    }
}

.controlRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 0.3;
    max-width: 300px;
    flex: 1;
    width: 85%;
}

.controlRowHidden {
    display: none;
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.04);
}

.container:hover {
    transform: rotate(0deg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container:hover .controlRow {
    display: flex;
    opacity: 1;
}

.controlButton {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin: 0 3px;
}